<ion-header>
    <ion-navbar no-border-bottom>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
            <ion-segment-button value="all">
                All
            </ion-segment-button>
            <ion-segment-button value="today">
                Today
            </ion-segment-button>
        </ion-segment>
    </ion-navbar>

    <ion-toolbar no-border-top>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list #scheduleList [hidden]="shownSessions === 0">

        <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">

            <ion-item-divider sticky>
                <ion-label>
                    {{group.date}}
                </ion-label>
            </ion-item-divider>

            <ion-item *ngFor="let session of group.sessions" [ngClass]="{'intruder': ( session.intruder == true)}" #slidingItem
                      [hidden]="session.hide">

                <h3>{{session.name}}</h3>
                <p>

                </p>


            </ion-item>

        </ion-item-group>

    </ion-list>

    <ion-list-header [hidden]="shownSessions > 0">
        No Sessions Founds
    </ion-list-header>



</ion-content>