<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Support</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="logo">
        <img src="assets/img/appicon.svg" alt="Ionic Logo">
    </div>

    <form [formGroup]="slideOneForm">
        <ion-list no-lines>
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input [(ngModel)]="supportEmail" formControlName="email" type="email" [class.invalid]="!slideOneForm.controls.email.valid && (slideOneForm.controls.email.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item *ngIf="!slideOneForm.controls.email.valid  && (slideOneForm.controls.email.dirty || submitAttempt)">
                <p>Please enter a valid email.</p>
            </ion-item>

            <ion-item>
                <ion-label floating>Enter your support message below</ion-label>
                <ion-textarea [(ngModel)]="supportMessage" formControlName="message" [class.invalid]="!slideOneForm.controls.message.valid && (slideOneForm.controls.message.dirty || submitAttempt)" rows="6"
                              required></ion-textarea>
            </ion-item>

            <ion-item *ngIf="!slideOneForm.controls.message.valid  && (slideOneForm.controls.message.dirty || submitAttempt)">
                <p>Your Message need to be larger then 10 charachter.</p>
            </ion-item>

            <ion-item>
                <ion-label stacked color="primary"></ion-label>

            </ion-item>



        </ion-list>

        <div padding>
            <button ion-button full color="primary" (click)="save()">Create Account!</button>
        </div>


    </form>


</ion-content>
